

body {
   
  background-image: url('livros.jpg');
  background-size: cover;      
  background-repeat: no-repeat;  
  background-position: center;   
  background-color: #f8f4ec;
  font-family: "Georgia", "Times New Roman", serif;
  margin: 40px;
  color: #3e2c20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


h1, h2 ,h3,h4{
  color: #ffffff;
  border-bottom: 2px solid #b08968;
  padding-bottom: 6px;
  font-family: 'Merriweather', serif;
}

form {
  background-color: #fffaf3;
  border: 1px solid #d9c7a4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 300px;
}


input[type="text"],
input[type="number"] {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #bfa58f;
  border-radius: 5px;
  background-color: #fffaf0;
}

input[type="submit"] {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #704832;
}

table {
  border-collapse: collapse;
  width: 350px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid #cdbba7;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

th {
  background-color: #d9c7a4;
  color: #3e2c20;
  padding: 10px;
  text-align: left;
}

td, a {
  padding: 8px 12px;
  border-top: 1px solid #e0d5c3;
}

tr {
  background-color: #f6f0e7;
}

a.editar, a.excluir {
    text-decoration: none;
    font-size: 20px;
    margin: 0 5px;
}

a.editar:hover {
    color: #030c16;
    transform: scale(1.2);
    transition: 0.2s;
}

a.excluir:hover {
    color: #dc3545;
    transform: scale(1.2);
    transition: 0.2s;
}

